   	A {COLOR: blue;  FONT-FAMILY: Verdana, Helvetica, Arial; FONT-SIZE:10pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: bold; }

   	a:hover 	{
	text-decoration: underline;
}

    HTML {  FONT-FAMILY: Verdana, Helvetica, Arial; FONT-SIZE:10pt; FONT-STYLE: normal; FONT-VARIANT: normal; FONT-WEIGHT: normal; TEXT-DECORATION: none }

    BODY { BACKGROUND-COLOR : white;  }

    td {
	FONT-FAMILY: Verdana, Helvetica, Arial;
	FONT-SIZE: 8pt;
	LINE-HEIGHT: 10pt;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
}
    
	th {
	FONT-FAMILY: Verdana, Helvetica, Arial;
	FONT-SIZE:8pt;
	LINE-HEIGHT: 10pt;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
	BACKGROUND-COLOR: #929DA4;
	COLOR: White;
}

     .inputfields { COLOR: #666666; FONT-FAMILY: Verdana, Helvetica, Arial; FONT-WEIGHT: bold; FONT-SIZE:10pt; LINE-HEIGHT: 12pt; BACKGROUND-COLOR: #cccccc; BORDER-BOTTOM: #316480 thin solid; BORDER-LEFT: #316480 thin solid; BORDER-RIGHT: #316480 thin solid; BORDER-TOP: #316480 thin solid  }

   	.button  {
	BACKGROUND-COLOR: #316480;

	COLOR: white;
	FONT-FAMILY: Verdana, Helvetica, Arial;
	FONT-WEIGHT: bold;
	FONT-SIZE: xx-small;
	WIDTH:90;
	HEIGHT:22;
}

.message {
	FONT-FAMILY: Verdana, Helvetica, Arial;
	FONT-SIZE:10pt;
	LINE-HEIGHT: 12pt;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
	COLOR:#990033;
}

  	.a_th {
	COLOR: White;
	FONT-FAMILY: Verdana, Helvetica, Arial;
	FONT-SIZE:10pt;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
}

 	.a_th_small {
	FONT-FAMILY: Verdana, Helvetica, Arial;
	FONT-SIZE: xx-small;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none;
	LINE-HEIGHT: 16pt;
}

.a_th_small:hover 	{
	text-decoration: none;
}

.bg_color {
	background-color : #C5CBCF;
}

 	.small_buttonstyle  {
	BACKGROUND-COLOR: #316480;

	COLOR: white;
	FONT-FAMILY: Verdana, Helvetica, Arial;
	FONT-WEIGHT: bold;
	FONT-SIZE: xx-small;
	WIDTH: 14pt;
	HEIGHT: 14pt;
}

	.a_small {
	COLOR: #666666;
	FONT-FAMILY: Verdana, Helvetica, Arial;
	FONT-SIZE: xx-small;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	FONT-WEIGHT: bold;
	TEXT-DECORATION: none
}
	
	.td_small{
	FONT-FAMILY: Verdana, Helvetica, Arial;
	FONT-SIZE: xx-small;
	LINE-HEIGHT: 14pt;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
}

   .th_small_with_left_border{
	FONT-FAMILY: Verdana, Helvetica, Arial;
	FONT-SIZE:xx-small;
	LINE-HEIGHT: 14pt;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
	BACKGROUND-COLOR: #929DA4;
	COLOR: White;
	BORDER-LEFT: 1px solid #316480;
}

.td_small_with_left_border{
	FONT-FAMILY: Verdana, Helvetica, Arial;
	FONT-SIZE: 10pt;
	LINE-HEIGHT: 14pt;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
	BORDER-LEFT: 1px solid #316480;
}

.td_small_left_top_border{
	FONT-FAMILY: Verdana, Helvetica, Arial;
	FONT-SIZE: 10pt;
	LINE-HEIGHT: 12pt;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
	BORDER-LEFT: 1px solid #316480;
	BORDER-TOP: 1px solid #316480;
}

  .td_with_top_border {
	FONT-FAMILY: Verdana, Helvetica, Arial;
	FONT-SIZE: 10pt;
	LINE-HEIGHT: 12pt;
	FONT-STYLE: normal;
	FONT-VARIANT: normal;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: none;
	BORDER-TOP: 1px solid #316480;
}



 
